.contenedor {
    display: grid;
    grid-template-columns: 1fr 10fr;
    max-width: 100%;
    gap: 50px;
}

.izquierda {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    align-items: center;
}

.izquierda img {
    height: 60px;
    width: auto;
}

.contReloj {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid black;
    height: 200px;
    width: 100%;
    font-size: large;
}

#reloj {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}